.form-input {
    margin-bottom: 16px;
}

.board td {
    height: 36px;
    width: 36px;
    border: 1px solid black;
}

.board .cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board .white {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.board .black {
    height: 20px;
    width: 20px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}